
body {
    width: 300px;
    height: 800px;
}

a {
    color: inherit;
}

.btn {
    width: 80%;
    font-size: 0.7em;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

#tabsInfo {
    width: 80%;
    border: solid 3px #cccccc;
    border-radius: 8px;
    margin: 0 auto;
    padding: 4%;
}

.container {
    margin: 4% 2%;
    padding: 4%;
    position: relative;
}

.checkBox {
    display: none;
}

.checkLabel span{
    border: solid 2px #ff8f0e;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 98%;
    height: 100%;
    padding-left: 2%;
    border-radius: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    background-color: #ffffff;
    text-decoration: underline;
}


.link {
    position: relative;
    display: block;
    width: 80%;
    border: solid 2px #3a6805;
    border-radius: 8px;
    margin: 8% 10% -4% 10%;
    text-align: center;
    background-color: #ffffff;
    z-index: 1;
    text-decoration: none;
}

.link:hover {
    background-color: #91b16d;
}

.checkLabel input[type="checkbox"]:hover + span {
    background-color: #fac991;
}

.checkLabel input[type="checkbox"]:checked + span {
    background-color: #ffb35d;
}

.done {
    width: 40%;
    margin: 4% 30% 4% 30%;
}