
body {
    width: 300px;
    height: 800px;
}

a {
    color: inherit;
    text-decoration: none;
}

#tabsInfo {
    width: 100%;
    border: solid 3px #cccccc;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 4%;
}

.container {
    margin: 4% 2%;
    padding: 4%;
    position: relative;
}

.checkBox {
    display: none;
}

.checkLabel span{
    border: solid 2px #ff8f0e;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 98%;
    height: 100%;
    padding-left: 2%;
    border-radius: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    background-color: #ffffff;
    text-decoration: underline;
}


.link {
    position: relative;
    display: block;
    width: 80%;
    border: solid 2px #3a6805;
    border-radius: 8px;
    margin: 8% 10% -4% 10%;
    text-align: center;
    background-color: #ffffff;
    z-index: 1;
}

.link:hover {
    background-color: #91b16d;
}

.checkLabel input[type="checkbox"]:hover + span {
    background-color: #fac991;
}

.checkLabel input[type="checkbox"]:checked + span {
    background-color: #ffb35d;
}

.btn {
    width: 40%;
    overflow: hidden;
    background-color: #000000;
    color: #ffffff;
    position: relative;
    padding: 0% 6%;
    margin-left: 30%;
    margin-right: 30%;
    margin: 4% 30% 4% 30%;
    line-height: 1.5;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
}

.btn span {
    position: relative;
    font-weight: 700;
    font-size: 1.6rem;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
    transform: translateX(-98%);
    background-color: #68eb85;
}

.btn:hover::before {
    transform: translateX(0%);
}

.btn:hover {
    color: #000000;
}